[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	branch = master

[submodule "lib/ctemplate"]
	path = lib/ctemplate
	url = https://github.com/OlafvdSpek/ctemplate.git
    branch = master
[submodule "lib/ordered-map"]
	path = lib/ordered-map
	url = https://github.com/Tessil/ordered-map.git
